@page "/StatusCode/404"

<PageTitle>It's Okay</PageTitle>

<div class="container">
  <div class="row text-center">
    <h3>Oh no, we're lost! (Please click Home or Random)</h3>
    <img src="./Sobble.gif" alt="Crying Sobble Gif">
  </div>
</div>
