@page "/Error"
@using System.Diagnostics

<PageTitle>Whoopsie</PageTitle>

<div class="container">
  <div class="row text-center">
    <h3>Uh Oh, that Pokemon doesn't exist! (Please click Home or Random)</h3>
    <img src="/Psyduck.jpg" alt="Psyduck Confusion">
  </div>
</div>
