@page "/Error"
@using System.Diagnostics

<PageTitle>Whoopsie</PageTitle>

<h3>Oh No! I'm lost! (Please choose Home or Random)</h3>
<img src="https://i.kym-cdn.com/photos/images/original/001/638/373/68e.gif" alt="Pokemon Gif">
