<div class="container" style="width: 18rem;">
  <div class="row">
    <img src="https://cdn.dribbble.com/users/985548/screenshots/3419640/media/6c40020a229510e11fef272ff2a2099c.gif"
      alt="Pokemon Gif">
  </div>
  <div class="row">
    <p>Loading...</p>
  </div>
</div>
